@model IEnumerable<UnivercityCityFood.Models.PayFine>



@{
    ViewBag.Title = "GetAllFineByUsers";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="col-12">
        <div class="tableList">
            <table class="table table-striped table-borderd text-center">
                <thead>
                    <tr>
                        <th scope="col"> اليوم</th>
                        <th scope="col"> الرقم القومى</th>
                        <th scope="col"> الاسم</th>
                        <th scope="col">موعد الغرامة</th>
                        <th scope="col"> دفع الغرامة</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Day.DayName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayFineDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayFineDone)
                            </td>

                        </tr>
                    }
                </tbody>

            </table>

            @*<div class="stCount">
                    عدد الطلاب:

                    <span>22</span>
                </div>

                <div class="stCount">
                    المبلغ:

                    <span>300 جنية</span>
                </div>*@

        </div>
    </div>
</div>