@model IEnumerable<UnivercityCityFood.Models.BookingFood>

@{
    ViewBag.Title = "GetBookingByUsers";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="col-12">
        <div class="tableList">
            <table class="table table-striped table-borderd text-center">
                <thead>
                    <tr>
                        <th>
                            اليوم
                        </th>
                        <th>
                            الاستلام
                        </th>
                        <th>
                            الحجز
                        </th>
                        <th>
                            تاريخ الحجز
                        </th>
                        <th>
                            وقت الحجز
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.day.DayName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Received)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Booked)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookingDateToDay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookingTimeToDay)
                            </td>
                            <td>
                                @Html.ActionLink("تفاصيل", "DetailsOfBooking", new { id = item.id }, new { @class = "btn btn-danger" })

                                @{
                                    DateTime thisDay = DateTime.Today;
                                    var thisDayAfter = thisDay.ToString("d");

                                    TimeRange timeRange = new TimeRange();
                                    timeRange = TimeRange.Parse("19:00-23:00");
                                    bool IsNowInTheRange = timeRange.IsIn(DateTime.Now.TimeOfDay);
                                    if ((IsNowInTheRange && item.BookingDateToDay == thisDayAfter))
                                    {
                                        @Html.ActionLink("حذف", "Delete", new { id = item.id }, new { @class = "btn btn-primary" })
                                    }
                                }

                            </td>
                        </tr>
                                    }

                </tbody>
            </table>
        </div>

    </div>

</div>