@model UnivercityCityFood.Models.PayFine

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">


        @Html.HiddenFor(model => model.PayFineID)
        @Html.HiddenFor(model => model.DayID)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.PayFineDate)
        <section class="signUp">
            <div class="form">
                <div class="container">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">

                        <div class="col-md-6 col-xl-4">
                            <div class="data-view">
                                <h5>الاسم</h5>
                                <div class="field">
                                    @Model.UserName
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-6 col-xl-4">
                                <div class="data-view">
                                    <h5>التاريخ</h5>
                                    <div class="field">
                                        @Html.DisplayFor(model => model.PayFineDate)
                                    </div>
                                </div>
                            </div>*@
                        <div class="col-md-6 col-xl-4">
                            <div class="data-view">
                                <h5>دفع</h5>
                                <div class="field">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.PayFineDone)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <input type="submit" value="حفظ" class="btn btn-primary" />
                        @Html.ActionLink("عودة", "Index", "", new { @class = "btn btn-danger" })

                    </div>
                </div>
            </div>
        </section>
    </div>

}
